/******** RESET ********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** BASE ********/

body {
    background-color: #F5F3EF;
    max-width: 1440px;
    max-height: 1048px;
    margin: auto;
    font-family: "Inter", sans-serif;
    color: #292929;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400;
}

p, h2 {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

input, #status {
    height: 50px;
    height: 50px;
    width: 322px;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

input::placeholder {
    color: #A6A6A6;
    font-size: 14px;
    font-weight: 400;
}

/******** UTILITIES ********/

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.gap-1 { 
    gap: 1em; 
}

.gap-2 { 
    gap: 2em; 
}

.gap-3 { 
    gap: 3em; 
}

.gap-5 {
    gap: 5em;
}

/******** COMPONENTS ********/

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: max-content;
}

.btn-primary {
    background-color: #00AC66;
    color: white;
}

.btn-primary:hover {
    background-color: #006D41;
}

.btn-outline {
    border: 1px solid #00AC66;
    background-color: #F5F3EF;
    color: #00AC66;
}

.btn-outline:hover {
    background-color: #006D41;
    color: white;
}

.mini-capital {
    font-weight: 600;
    font-size: 8px;
    color: #292929;
}

/******** HEADER ********/

#nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
}

.nav-group {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-group a {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
}

.nav-group a:hover{
    font-weight: 600;
}

.logo-site {
    width: 155px;
}

/******** FOOTER ********/

#nav-footer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding: 20px 10%;
}

#nav-footer a {
    font-weight: 300;
    font-size: 12px;
}

#logo-footer img {
    width: 22px;
}

/******** INTRO ********/

#section-introduction {
    display: flex;
    justify-content: center;
    padding: 5em;
}

.intro-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.intro-text {
    max-width: 340px;
}

.intro-image img {
    display: block;
}

.legend {
    text-align: end;
    color: #A6A6A6;
    font-size: 12px;
    font-style: italic;
    padding: 10px;
}

#privacy-policy {
    padding: 10px;
}

#legal-mentions {
    padding: 10px;
}

/******** LAST BOOKS ********/

#section-last-add {
    background-color: #FAF9F7;
    align-items: center;
    padding: 5em;
}

.books-container {
    display: flex;
    gap: 2em;
}

.book-card {
    width: 200px;
    height: stretch;
    height: -webkit-fill-available;
}

.book-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.book-content {
    padding: 15px;
}

.book-author {
    font-size: 14px;
    color: #A6A6A6;
}

.book-mention {
    font-size: 10px;
    color: #A6A6A6;
    font-style: italic;
    padding: 15px;
    margin-top: auto;
}

/******** PITCH ********/

#section-pitch {
    align-items: center;
    padding: 5em;
}

.pitch-desc {
    width: 25em;
    text-align: center;
    font-weight: 300;
}

.pitch-cards {
    display: flex;
    gap: 2em;
}

.pitch-card {
    width: 215px;
    height: 139px;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
}

/******** BANNER ********/

#banner img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center 40%;
}

/******** VALUES ********/

#section-values {
    width: 650px;
    margin: auto;
    padding: 8em;
}

.values-container {
    position: relative;
}

.values-text p {
    font-size: 16px;
    font-weight: 300;
}

.signature {
    font-size: 12px;
    font-style: italic;
    color: #A6A6A6;
}

.corner-img {
    position: absolute;
    bottom: -4em;
    right: -4em;
}


/******** PAGE DE LOG ********/
#errorMessage {
    padding: 1em;
    background-color: rgb(255, 0, 0);
    color: #FFFFFF;
    width: fit-content;
    position: absolute;
    top: 15%;
    left: 18%;
}

#section-log {
    background-color: #FAF9F7;
    height: 800px;
}

.article-log-form {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.article-log-form form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    gap: 10px;
}

.article-log-form form label {
    color: #A6A6A6;
    font-size: 14px;
    font-weight: 400;
}

.article-log-form form button {
    width: 100%;
}

.article-log-form form p {
    font-size: 14px;
    font-weight: 400;
}

.article-log-form form a {
    text-decoration: underline;
}

#article-img img {
    width: 100%;
    height: 100%;
}

#article-img {
    flex: 1;
}



#section-allBooks {
    padding: 3em;
    background-color: #FAF9F7;
}

/******** PAGE ALLBOOKS ********/

#section-allBooks .books-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin: auto;
}

#section-allBooks #section-header {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

#section-allBooks #section-header input {
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    padding: 0.6rem 0.6rem 0.6rem 2.5rem;
}

#section-allBooks #section-header input:focus::placeholder {
    color: transparent;
}

#section-header form {
    position: relative;
}

#section-header form button {
    position: absolute;
    left: 8px;
    top: 25%;
    border: none;
    background: none;
    cursor: pointer;
}


/******** PAGE BOOKDETAILS ********/

#section-details {
    background-color: #FAF9F7;
    height: 750px;
}

#book-cover img {
    width: 720px;
    height: 100%;
}

#book-article span {
    width: 27px;
    border: 1px solid #A6A6A6;
}

#book-article {
    justify-content: space-around;
    padding: 5em;
    padding-bottom: 0px;
    padding-top: 0px;
}

#description p {
    white-space: pre-line;
    font-weight: 400;
    font-size: 14px;
    color: #292929;
}

#title-author p {
    font-size: 16px;
    font-weight: 400;
    color: #A6A6A6;
}

#book-article button {
    width: 100%;
}

#nav-pre-section {
    margin-left: 12em;
    padding: 2em;
}

#nav-pre-section, #nav-pre-section a {
    font-size: 10px;
    font-weight: 300;
    color: #A6A6A6;
}

#owner-div div {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: fit-content;
}

#owner-div a {
    width: fit-content;
}

#owner-div img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#owner-div p {
    padding: 1em;
}


/******** PAGE PROFIL ********/

#profile-info-section {
    padding: 2em;
    background-color: #FAF9F7;
}

#profile-info-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 400;
    display: flex;
    width: 400px;
    justify-content: center;
    padding: 1em;
}

#profile-info {
    justify-content: center;
    gap: 2em;
}

#personal-info form input {
    background-color: #EDF2F6;
}

#personal-info form label {
    font-size: 14px;
    font-weight: 400;
    color: #A6A6A6;
}

#personal-info form p {
    margin-bottom: 1em;
}

#personal-info form {
    gap: 15px;
}

#personal-info input::placeholder {
    color: black;
    opacity: 1;
}

#profile-intro {
    flex-direction: row;
}

#profile-resume, #personal-info {
    background-color: #FFFFFF;
    width: 550px;
    padding: 3em;
    border-radius: 20px;
    align-items: center;
}

#profile-resume {
    justify-content: space-around;
}

#profile-resume div {
    align-items: center;
    gap: 5px;
}

#profile-resume a {
    color: #A6A6A6;
    text-decoration: underline;
}

#profile-picture {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
}

.border {
    border: 1px solid #F5F3EF;
    width: 50%;
}

.owner-name {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
    color: #292929;
}

.since {
    font-size: 14px;
    color: #A6A6A6;
}

#owned-books {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 1140px;
    margin: auto;
    margin-bottom: 5em;
}

#owned-books .paire, #public-profile #books .paire {
    background-color: #FFFFFF;
}

#owned-books .impaire, #public-profile #books .impaire {
    background-color: #EDF2F6;
}

#owned-books img, #public-profile #books img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

#owned-books table {
    border-collapse: separate;
    border-spacing: 0 0px;
    width: 100%;
}

#owned-books th, #owned-books td {
    padding: 25px 15px;
    text-align: left;
}

#owned-books thead th {
    border-bottom: 1px solid #F5F3EF;
}

#owned-books td:nth-child(4), #owned-books th:nth-child(4) {
    width: 200px;
}

#owned-books td, #owned-books a {
    font-size: 12px;
}

#owned-books .c1 {
    padding-left: 50px;
}

#owned-books .description {
    font-style: italic;
}

#owned-books span {
    font-size: 8.88px;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px;
    display: block;
    width: 85px;
    text-align: center;
}

.stock {
    background-color: #6DC5A1;
}

.out-stock {
    background-color: #C56D6D;
}

#owned-books a {
    text-decoration: underline;
    margin: 10px;
}

.delete-book {
    color: #CB2D2D;
}

.edit-book {
    color: #292929;
}


/******** PAGE PROFIL PUBLIC ********/

#public-profile {
    padding: 2em;
    justify-content: center;
}

#public-profile #public-pp {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
}

#public-profile #books {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 770px;
}

#public-profile #books table {
    border-collapse: separate;
    border-spacing: 0 0px;
    width: 100%;
}

#public-profile #books table .c1 {
    padding-left: 50px;
}

#public-profile #books table thead th {
    border-bottom: 1px solid #F5F3EF;
}

#public-profile #books th, #public-profile #books td {
    padding: 25px 15px;
    text-align: left;
}

#public-profile #info-resume {
    background-color: #FFFFFF;
    width: 340px;
    padding: 3em;
    border-radius: 16px;
    align-items: center;
    justify-content: space-around;
}

/******** PAGE EDITBOOK ********/

#book-edit-form {
    background-color: #FAF9F7;
    padding: 2em;
    padding-bottom: 5em;
}

#book-edit-form #header-section {
    width: fit-content;
    padding: 1em;
    margin-left: 6em;
}

#book-edit-form #backlink {
    color: #A6A6A6;
    font-size: 14px;
}

#book-edit-form h1 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-width: 400;
    color: #000000;
}

#book-edit-form article {
    background-color: #FFFFFF;
    border-radius: 16px;
    margin: auto;
    width: 1155px;
    justify-content: space-between;
    padding: 3em;
}

#book-edit-form #book-img img {
    width: 488px;
    height: 488px;
    object-fit: cover;
}

#book-edit-form #book-img a {
    text-align: end;
    text-decoration: underline;
    font-size: 12px;
}

#book-edit-form #book-info input, #status, #description-input {
    background-color: #EDF2F6;
    width: 435px;
}

#book-edit-form #book-info #description-input::placeholder, #book-edit-form #book-info input::placeholder {
    font-family: 'Inter', sans-serif;
    color: #292929;
    font-size: 14px;
}

#description-input {
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

#book-edit-form #book-info form {
    gap: 10px;
}

#book-edit-form label {
    font-size: 14px;
    color: #A6A6A6;
}

#book-edit-form form button {
    width: 322px;
    margin-top: 1em;
}

/*

#book-edit-form #book-info form #description-input {
    height: 400px;
    width: 500px;
}

#book-edit-form #book-info form #description-input::placeholder {
    white-space: pre-line;
}

*/